{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% block scripts %}
{{super()}}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/bootstrap-rating-input.min.js"></script>
{%endblock%}
{% block head %}
<title>{{ title }}</title>
{{super()}}
{{fixes.ie8()}}
<link href="/static/autocomplete.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wine Memory</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page == 'index' %}active{%endif%}"><a href="/">List</a></li>
                <li class="{% if page == 'wine_new' %}active{%endif%}"><a href="{{url_for('wine_new')}}">New</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% block page_content %} {%endblock%}
</div>
{%endblock%}
